:root {
  --font-decor: var(--font-sedgwick);
  --font-body: var(--font-afacad);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
button {
  font-family: var(--font-decor);
}

p {
  font-family: var(--font-body);
}

.navbar {
  display: flex;
  height: 40px;
  justify-content: space-between;
  background-color: #000;
  color: white;
  align-items: center;
  padding: 0 35px;
  position: relative;
  z-index: 10;
}

.logo img {
  position: absolute;
  top: 3px;
  width: 115px;
  height: auto;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 0 0 0 115px;
  padding: 0;
}

.navLinks a {
  color: white;
  font-family: var(--font-body);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.authLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-family: var(--font-body);
}

.authLinks a {
  color: white;
  font-family: var(--font-body);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}
